body {
    font-family: "Open Sans", sans-serif !important;
}

.markdown-section tr:nth-child(2n) {
    background-color: #282c30;
}

.cover {
    background: linear-gradient(143deg, #967d00, #966200) !important;
}

.col-lg-4 p img {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg>');
    border-radius: 50% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c8c8c8;
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    text-align: center;
    align-items: center;
}

.col-lg-4 p {
    text-align: center;
}

.fw-normal {
    text-align: center;
    color: #c8c8c8 !important;
}